/*
Doing some CSS Basic Examples
*/

/*Lets make h1's red and in the center of the page*/
h1 {
    text-align: center;
    color: red;/*also can do hexidecimal format #RRGGBB, color: #FF0000*/
}

/*How about paragraphs under articles can have a text size of 24px*/
article p {
    font-size: 24px;
}

/*Class called test. Any element that has a class assignment to "test" will have a background color
of blue, Specifically #0243ff.
*/
.test {
    background-color: #0243ff;
}

/*Can also specify element by ids*/
#123 {
    /*Something not too crazy*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Let's change how the cursor looks when we go over a "pointer" element*/
.pointer {
    cursor: pointer;
}

/*Text under the footer section should be white*/
section p {
    color: white;
}

section {
    background-color: black;
}

#txt {
    color:rgba(0, 255, 0, 0.767);
    text-align: center;
}
